
<div class="container">
  <div>
    <input #fileInput type="file" ng2FileSelect [uploader]="uploader" />
    <div class="drop-box" ng2FileDrop [ngClass]="{'dragover': isDropOver}" [uploader]="uploader"
      (fileOver)="fileOverAnother($event)" (click)="fileClicked()">
      <span class="drag-in-title">Import or drag file here</span>
      <span class="drag-over-title">Drop the file</span>
    </div>
    <div>
      <label for="first_name">name</label>
      <input type="text" id="firstname" [(ngModel)]="bookName" name="first_name" required>
    </div>
    <button (click)="createBook()">POST</button>
    <button (click)="findall()">findall</button>
    <button (click)="deleteAll()">deleteAll</button>
    <p>{{this.fileUploaded}}</p>
    <ul>
      <li *ngFor="let book of AllBooks">
        {{ book.name }}
      </li>
    </ul>
  </div>
</div>
